body {
	background-color:black;
	color:#00FF00;
	padding:75px;
}

li {
	font-family:"Verdana";
	font-style:italic;
}

h1, h2, h3, h4 {
	color:lightgreen;
}

table {
	width: 100%;
}

table, th, td {
	border: 1px solid #00FF00;
	border-collapse: collapse;
	padding:8px;	
}

thead {
	font-family:"Orbitron";
}

tbody {
	font-family:"Verdana";
	font-style:italic;
	text-align:center;
	color:black;
}

.table-striped>tbody>tr:nth-child(even) {
	background-color:lightgreen;
}

.table-striped>tbody>tr:nth-child(odd) {
	background-color:lightblue;
}