body {
	background-color:black;
	color:#00FF00;
}

li {
	font-family:"Verdana";
	font-style:italic;
}

ul {
	padding-left:75px;
}

th, td {
	font-family:"Verdana";
	color:white;
}

h1, h2, h3, h4 {
	color:lightgreen;
}

table {
	padding:50px;
}