#header {
	font-family:cursive;
	font-size:30px;
	text-align:center;
	color:#A0522D;
	
}

#footer {
	font-family:cursive;
	text-align:center;
	color:#A0522D;
}

body {
	padding: 0px 50px 50px 50px;
	background-color:black;
}

html {
	background-image: url(http://supernovathemes.com/wp-content/themes/supernovathemes/images/bg/b23.png);
}
