@font-face {
    
	font-family: "gooddogregular";

	src: url("GoodDog-webfont.eot");

	src: url("GoodDog-webfont.eot?#iefix") format("embedded-opentype"),
	url("GoodDog-webfont.woff") format("woff"),
	url("GoodDog-webfont.ttf") format("truetype"),
	url("GoodDog-webfont.svg#gooddogregular") format("svg");

	font-weight: normal;

	font-style: normal;


}

#header {
	font-family:"gooddogregular",cursive;
	font-size:70px;
	text-align:center;
	color:#A0522D;
}

#footer {
	font-family:"gooddogregular",cursive;
	text-align:center;
	color:#A0522D;
	font-size:30px;
	clear:both;
}

body {
	padding: 0px 50px 50px 50px;
	background-color:black;
}

html {
	background-image: url(http://supernovathemes.com/wp-content/themes/supernovathemes/images/bg/b23.png);
}

a:link, a:visited {
	background-color:#FF7f50;
	color: white;
	padding: 9px 17px;
	text-align: center;
	font-family: "gooddogregular", cursive;
	font-size:20px;
}
a:hover, a:active {
	background-color: #B0C4DE;
	color: #778899;
}
